# Dependencies
node_modules/

# Build outputs
dist/
build/
web-build/

# Environment
.env
.env.local
.env*.local

# OS files
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo
expo-env.d.ts

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Native (generated folders)
/ios
/android
ios/Pods/
ios/build/
android/app/build/
android/build/
android/.gradle/
.kotlin/

# Generated native folders (in subdirectories)
**/ios/
**/android/
