# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# iOS
ios/Pods/
ios/build/

# Android
android/app/build/
android/build/
android/.gradle/

# TypeScript
*.tsbuildinfo